# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\school_stuff\java\RiotAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
